.citationbox-container {
  border: 2px solid #d6d6d6;
  border-radius: 20px;
  padding: 15px;
  margin: 15px;
  background-color: rgb(250, 250, 250);
}

.citationbox-extras {
  margin-top: 5px;
  margin-left: 20px;
}
